<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Addons</key>
	<array>
		<string>Craft</string>
	</array>
	<key>Author</key>
	<string>John Millard</string>
	<key>Buffer Order</key>
	<array>
		<string>FirstPersonTouch</string>
		<string>NavigationPad</string>
		<string>BlockInventory</string>
		<string>BasicPlayer</string>
		<string>Main</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Cameras</string>
		<string>UI</string>
		<string>Block Library</string>
		<string>Touches</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Order</key>
	<integer>6</integer>
</dict>
</plist>
