<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bindings</key>
	<dict>
		<key>colorTexture</key>
		<string>"Cargo Bot:Codea Icon"</string>
		<key>mvpMatrix</key>
		<string>modelMatrix() * viewMatrix() * projectionMatrix()</string>
		<key>useLighting</key>
		<string>false</string>
	</dict>
	<key>icon</key>
	<string></string>
</dict>
</plist>
