<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<string>[255.0,219.0,0.0,255.0]</string>
	<key>Density</key>
	<real>28.354978561401367</real>
	<key>Detail</key>
	<real>4</real>
	<key>Force</key>
	<real>45.454544067382812</real>
	<key>Frequency</key>
	<real>0.29458874464035034</real>
	<key>Height</key>
	<real>0.26839825510978699</real>
	<key>ModelNumber</key>
	<real>148</real>
	<key>ModelScale</key>
	<real>0.24415583908557892</real>
	<key>Models</key>
	<string>§</string>
	<key>RotateX</key>
	<real>13</real>
	<key>RotateY</key>
	<real>-6783.5</real>
	<key>Seed</key>
	<real>564935</real>
	<key>Spacing</key>
	<real>0.67857140302658081</real>
	<key>Wind</key>
	<real>0.10822510719299316</real>
	<key>lastStep</key>
	<real>2</real>
</dict>
</plist>
