<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Addons</key>
	<array>
		<string>Craft</string>
	</array>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Utilities</string>
		<string>CubeMapViewer</string>
		<string>GradientRamp</string>
		<string>PlanetGenerator</string>
		<string>TerrainChunk</string>
		<string>Planet</string>
		<string>Presets</string>
		<string>Main</string>
	</array>
	<key>Dependencies</key>
	<array>
		<string>Cameras</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
	<key>Icon</key>
	<string>Icon.png</string>
	<key>Order</key>
	<integer>8</integer>
</dict>
</plist>
